<a href="https://colab.research.google.com/github/pratyushagnihotri03/Python_Programming/blob/master/Generate_SQL_Queries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python Sql Queries

In [ ]:
import datetime

# User input for data set
userID = input("Enter USER_ID:")
userName = input("Enter USER_NAME:")
noParticipant = int(input("How many participants do you need? "))
noTask = int(input("How many tasks do you need for each participant? "))
duration = int(input("How much time difference do you need between each task (minutes)? "))

participantsLst = []

tasksLst = []

now = datetime.datetime.now()

now_plus = now

plan_item = 0

In [ ]:
# input of participants
for numberOfParticipant in range(0,noParticipant):
  participantsLst.append(input("Enter participant name - PI_Name:"))

In [ ]:
# input of tasks
for numberOfTasks in range(0,noTask):
  tasksLst.append(input("Enter task description - T_DESCR:"))

In [ ]:
# Generate SQL query for the user per industry:
print("INSERT INTO user (id, name) VALUES (",userID,",'",userName,"');")

In [ ]:
# Generate SQL query for the number of possible participants:
for participant in range(0,len(participantsLst)):
  print("INSERT INTO participant (id, name) VALUES (",participant,",'",participantsLst[participant],"');")
  participant = participant+1

In [ ]:
# Generate SQL query for the number of possible tasks:
for task in range(0,len(tasksLst)):
  print("INSERT INTO task (id, description) VALUES (",task,",'",tasksLst[task],"');")
  task = task+1

In [ ]:
# Generate SQL query for plan and its task items
for participant in range(0,len(participantsLst)):
  for task in range(0,len(tasksLst)):
    print("INSERT INTO plan_item_task (plan_item_id, task_id) VALUES (",participant,",",task,");")
    task = task + 1
  participant = participant+1

In [ ]:
# Generate SQL query for plan item
for participant in range(0,len(participantsLst)):
  print("INSERT INTO plan_item (id, time, ordinal, description, location, user_id, report_id, participant_id) VALUES (",plan_item,",{ts '",now_plus, "' Europe/Berlin'},",plan_item,", 'HB-AR 2020', null, 0, null,",participant,");")
  now_plus = now + datetime.timedelta(minutes = duration)
  participant = participant+1
  plan_item = plan_item + 1