<a href="https://colab.research.google.com/github/pratyushagnihotri03/Python_Programming/blob/master/Input_and_Output_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Print and String Formatting

In [ ]:
print()
print("hello \n"*3)
print("All the power \n is with in you")

a,b=10,20
print(a,b,sep="++++")

name="john"
marks=94.5678

print("name is ", name, "marks are", marks)
print("name is %s, marks are %.3f" %(name,marks))
print("name is {}, marks are {}". format(name,marks))
print("name is {0}, marks are {1}". format(name,marks))

### Input

In [ ]:
s=input()
print(s)

s=input("enter your name")
print(s)

i = int(input("enter a integrer value:"))
print(type(i))

### Multiple Input

In [ ]:
lst = [float(x) for x in input("enter three number separated by comma:".split(','))]
print(lst)

### MyWay Sandwich

In [ ]:
lst = ["Onions", "Lettuce", "Tomato", "Olives", "Peppers", "Tomatoes"]
print("Available items for Sandwich \n", lst)
s=input("Please pick three item for sandwich:")
cost=5
print("Cost of one sandwich: $5")
i = int(input("how many sandwiches do you need:" ))
total=i*5;
print(i, "sandwiches cost $",total)

In [ ]:
print('Onion', 'Lettuce', 'Tomato' ,'Olives', 'Peppers' , 'Lemons' ,sep =',') 
A =    [x  for x in  input("Pick three toppings separated by space:").split()] 
print(A) 
B = int(input("how many :")) 
print(B) 
total = float(B *5) 
print("total in dollar:" ,total)

### Student Details

In [ ]:
id=(input("Enter student id:"))
name=(input("Enter student name:"))
marks=float(input("Enter marks scored:"))
print("ID:", id, "\n Name:", name, "\n Marks:", marks)

### Average of Three number

In [ ]:
a,b,c =[int(x) for x in input("Enter three numbers:").split()]
average = (a+b+c)/3
print("average",average)

### Area of Circle

In [ ]:
import math

radius = float(input("Enter circle radius:"))
pi = 22/7
circleArea = pi*radius**2
circleArea1=math.pi*radius**2
print("Circle Area:", circleArea)
print("Circle Area:", circleArea1)