<a href="https://colab.research.google.com/github/pratyushagnihotri03/Python_Programming/blob/master/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Return value

In [3]:
def average(a,b):
  print("average of two number is",(a+b)/2)
  return (a+b)/2

print(average(10,20))

average of two number is 15.0
15.0

### Return Multiple Value

In [ ]:
def calculator(a,b):
  x=a+b
  y=a-b
  z=a*b
  u=a/b
  return x,y,z,u

i = int(input("Enter first value:"))
j = int(input("Enter first value:"))


result=calculator(i,j)
print(result)

for i in result:
  print(i)

### Local and Gloabl variables

In [ ]:
x=123

def display():
  x=678
  print(x)

print(x)
display()

In [ ]:
#accessing global variable with same name
x=123

def display():
  x=678
  print(x)
  print(globals()['x'])

print(x)
display()

In [11]:
# assign function to variable
z =  display()
print(z)

678
123
None

### Function inside another

In [12]:
def display(name):
  def message():
    return "Hello "
  result =  message()+name
  return result
  
print(display("AGNO3"))

Hello AGNO3

In [ ]:
# returning function

In [ ]:
def display():
  def message():
    return "Hello "
  return message

fun = display()
print(fun())

### Recursion

In [ ]:
def factorial(n):
  if n==0:
    result=1
  else:
    result=n*factorial(n-1)
  return result

print(factorial(3))

### Keyword Argument

In [ ]:
def average (a,b):
  print(a)
  print(b)
  return (a+b)/2

print(average(b=10,a=20))

In [16]:
# Default argument

def average (a=10,b=20):
  print(a)
  print(b)
  return (a+b)/2

print(average(a=30))

30
20
25.0

### BMI Usecases

In [ ]:
#bmi = weight in kg7(height*height in meters)
def calculateBMI(height, weight=70):
  heightMeters = height * 0.4536
  bmi =  weight/(heightMeters*heightMeters)
  return bmi


print(calculateBMI(5.8,70))
print(calculateBMI(6.8,70))
print(calculateBMI(5.6,70))
print(calculateBMI(5.2))