<a href="https://colab.research.google.com/github/pratyushagnihotri03/Python_Programming/blob/master/Python_Data_and_Sequence_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Types

In [ ]:
# Numeric Types
a = 10
b =  100
c = -66
print(a, b, c)
print(type(a), type(b), type(c))

x = 33.5
y = -25.8
z = 205.0

print(x, y, z)
print(type(x), type(y), type(z))

# Complex, binary and hexadecimal type

d = 3+5j
print(d)
print(type(d))

e=0B1010
print(e)
print(type(e))

f=0XFF
print(f)
print(type(f))

g=True
print(g)
print(type(g))
print(9<8)

h=int(x)
print(h)
print(type(h))

i=float("22.5")
print(i)
print(type(i))
print(bin(10))
print(hex(10))

### Sequence Types

In [ ]:
# Numeric Types
a = 10
b =  100
c = -66
print(a, b, c)
print(type(a), type(b), type(c))

x = 33.5
y = -25.8
z = 205.0

print(x, y, z)
print(type(x), type(y), type(z))

# Complex, binary and hexadecimal type

d = 3+5j
print(d)
print(type(d))

e=0B1010
print(e)
print(type(e))

f=0XFF
print(f)
print(type(f))

g=True
print(g)
print(type(g))
print(9<8)

h=int(x)
print(h)
print(type(h))

i=float("22.5")
print(i)
print(type(i))
print(bin(10))
print(hex(10))

### List Type

In [ ]:
# Numeric Types
a = 10
b =  100
c = -66
print(a, b, c)
print(type(a), type(b), type(c))

x = 33.5
y = -25.8
z = 205.0

print(x, y, z)
print(type(x), type(y), type(z))

# Complex, binary and hexadecimal type

d = 3+5j
print(d)
print(type(d))

e=0B1010
print(e)
print(type(e))

f=0XFF
print(f)
print(type(f))

g=True
print(g)
print(type(g))
print(9<8)

h=int(x)
print(h)
print(type(h))

i=float("22.5")
print(i)
print(type(i))
print(bin(10))
print(hex(10))

10 100 -66
<class 'int'> <class 'int'> <class 'int'>
33.5 -25.8 205.0
<class 'float'> <class 'float'> <class 'float'>
(3+5j)
<class 'complex'>
10
<class 'int'>
255
<class 'int'>
True
<class 'bool'>
False
33
<class 'int'>
22.5
<class 'float'>
0b1010
0xa

### Tuple Type

In [ ]:
tpl=(40, 50, 60, "xyz")

print(tpl)
print(tpl[3])
print(tpl*3)
print(tpl.count(40))
print(tpl.index("xyz"))

lst=[67, 34, "xyz"]
print(type(lst))

tpl1=tuple(lst)
print(type(tpl1))
print(tpl1)

### Set Type

In [ ]:
s = {10, 20, 30, "xyz"}
print(s)
print(type(s))

In [ ]:
s.update([88,89])
print(s)

{'xyz', 10, 20, 88, 89, 30}

In [ ]:
s.remove(30)
print(s)

{'xyz', 10, 20, 88, 89}

In [ ]:
f=frozenset(s)
f.remove(20)

### Range

In [ ]:
r = range(5)
for i in r:
  print(i)

In [ ]:
r = range(1,15,3)
for i in r:
  print(i)

1
4
7
10
13

### Bytes and Byte Arrays

In [ ]:
lst = [20, 30, 40, 234]
print(type(lst))
b=bytes(lst)
print(type(b))

<class 'list'>
<class 'bytes'>

In [ ]:
b1 = bytearray(lst)
print(type(b1))
b1[2]=33
print(b1)

<class 'bytearray'>
bytearray(b'\x14\x1e!\xea')

### Dictionary

In [ ]:
dict1= {
    1: "John",
    2: "bob",
    3: "bill"
}
print(dict1)

print(dict1.items())

k=dict1.keys()
for i in k:
  print(i)

v=dict1.values()
for i in v:
  print(i)

print(dict1[3])
del dict1[2]
print(dict1)

{1: 'John', 2: 'bob', 3: 'bill'}
dict_items([(1, 'John'), (2, 'bob'), (3, 'bill')])
1
2
3
John
bob
bill
bill
{1: 'John', 3: 'bill'}

### Data Types

In [ ]:
id =  1
firstname =  "John"
lastname = "Bailey"
ssn =  "123-45-6789"
hasInsurance = True
billingAmount = "10000"

print(type(billingAmount))

billingAmount = float(billingAmount)

print(type(billingAmount))

print(id, firstname, lastname, ssn, hasInsurance, billingAmount, ssn[7:len(ssn)])

<class 'str'>
<class 'float'>
1 John Bailey 123-45-6789 True 10000.0 6789

### Map of Lists Usecases

In [ ]:
students = {
    'john':[
            'Python',
            'Django',
            'DRF'
    ],
    'bob':[
           'java',
           'spring'
    ],
    'jim':[
           'js',
           'node',
           'react'
    ]
}

keys = students.keys()
for eachKey in keys:
  print("Course taken by", eachKey, "are: ")
  for eachCourse in students[eachKey]:
    print(eachCourse)

Course taken by john are:
Python
Django
DRF
Course taken by bob are:
java
spring
Course taken by jim are:
js
node
react

### Assignment Collection Type
#### List of countries


*   Add an country at the end
*   remove by index
* add a country in the middle

In [ ]:
lstCountries = ["Germany", "india", "UK", "Spain", "Brazil, USA", "Australia"]

print(lstCountries)

# Add an country at the end
lstCountries.append("China")
print(lstCountries)

# remove by index
del(lstCountries[3])
print(lstCountries)

# add a country in the middle
lstCountries.insert(4, "Portugal")
print(lstCountries)

['Germany', 'india', 'UK', 'Spain', 'Brazil, USA', 'Australia']
['Germany', 'india', 'UK', 'Spain', 'Brazil, USA', 'Australia', 'China']
['Germany', 'india', 'UK', 'Brazil, USA', 'Australia', 'China']
['Germany', 'india', 'UK', 'Brazil, USA', 'Portugal', 'Australia', 'China']