<a href="https://colab.research.google.com/github/pratyushagnihotri03/Python_Programming/blob/master/Python_Operators_and_Operands.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Arithmetic Operators

In [ ]:
val1 = int(input("what is you first value?\n"))
val2 = int(input("what is you first value?\n"))

print('val1= ', val1, 'val2= ', val2)

print('Addition:', val1+val2)
print('Subtraction:', val1-val2)
print('Multiplication:', val1*val2)
print('Division:', val1/val2)
print('Mod:', val1&val2)
print('Pow:', val1**val2)
print('Floor Div:', val1//val2)

what is you first value?
10
what is you first value?
5
val1=  10 val2=  5
Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Mod: 0
Pow: 100000
Floor Div: 2

### Assignment Operators

In [ ]:
a=b=c=10
print(a,b,c)

x,y=10,5

x+=y
print(x)
x*=y
print(x)

### Comparison Operators

In [ ]:
print('val1= ', val1, 'val2= ', val2)

print('==:', val1==val2)
print('!=:', val1!=val2)
print('>:', val1>val2)
print('<:', val1<val2)
print('>=:', val1>=val2)
print('<=:', val1<=val2)

val1=  10 val2=  5
==: False
!=: True
>: True
<: False
>=: True
<=: False

### Logical Operator

In [ ]:
print('and:', val1==25 and val2==30)
print('or:', val1==25 or val2==5)

and: False
or: True

### Operators BMI Usecase

In [ ]:
height=6.2
weight=85

#bmi = weight in kg/(height*height in meters)

heightInMeters = height * 0.4546

bmi = weight/(heightInMeters*heightInMeters)
print("BMI", bmi)

BMI 10.699825228138316